.main {
	&__statistic {
		margin-top: 20px;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__list {
		margin-top: 12px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}
	&__search {
		margin: 20px 0;
		input {
			box-sizing: border-box;
			height: 57px;
			width: 100%;
			padding: 8px 13px;
			background: white;
			border: none;
			border-radius: 10px;
			box-shadow: 0px 7px 17px 0px rgba(27, 19, 19, 0.25);
		}
	}
	&__form {
		padding: 20px 10px;
	}
	&__formTitle {
		background: #20698c;
		padding: 15px;
		color: white;
	}
}
