body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
    text-align: center;
    font-size: 65px;
    color: #212121;
    margin: 0 0 30px 0;
}
input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    line-height: 18.2px;
    color: #424242;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #424242;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
button {
    font-family: arial;
    color: #3d556a;
    font-size: 15px;
    text-shadow: 0px 0px 0px #7cacde;
    box-shadow: 0px 0px 0px #bee2f9;
    padding: 11px 25px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    background: #eeebe4;
    cursor: pointer;
    &:hover {
        color: #14396a;
        background: #ebe6e6;
    }
}
.label {
    font-size: 17px;
    font-weight: 600;
    line-height: 18.2px;
    color: #212121;
    display: block;
    margin-bottom: 8px;
}
.to-do {
    &__container {
        max-width: 1180px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
.list {
    margin-top: 24px;
    &__group-item {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__item {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 18px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
            sans-serif;
        box-shadow: 0px 0px 3px 0px rgba(34, 60, 80, 0.2);
    }
    &__name {
        &.complete {
            text-decoration: line-through;
            color: gray;
        }
    }
    &__item-group {
        display: flex;
        gap: 8px;
    }
    &__tools-group {
        text-align: center;
    }
    &__item-tools {
        display: flex;
        gap: 15px;
        svg {
            font-size: 20px;
            cursor: pointer;
        }
    }
}
.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    &__container {
        padding: 8px 15px;
        width: 500px;
        border-radius: 8px;
        background: white;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &--block-input {
            display: flex;
            flex-direction: column;
            gap: 3px;
        }
        &--block-button {
            display: flex;
            justify-content: space-between;
            button {
                cursor: pointer;
            }
        }
    }
}
.no-data {
    text-align: center;
}

.error {
    color: red;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.2px;
    margin-top: 10px;
}

.to-do__filter {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
    cursor: pointer;
}
.search__filter{
    margin-top: 20px;
}
