@import './assets/Montserrat/Montserrat.css';
* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat';
	margin: 0;
	background: #fcfcfc;
}
input {
	width: 100%;
	padding: 0 20px;
	border-radius: 10px 0px 0px 10px;
	background: #fff;
	border: none;
	box-shadow: 0px 10px 20px 0px rgba(27, 19, 19, 0.25);
	height: 57px;
	color: #5a5a5a;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
input:focus {
	outline: 1px solid #c6c6c6;
}
.container {
	margin: 0 auto;
	max-width: 650px;
	padding: 0 15px;
	margin-top: 75px;
}
h1 {
	color: #374357;
	text-align: center;
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 20px !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.modal-delete {
	width: 400px;
}
